<!--{% extends 'museos/base.html' %}	

{% block head %}

    <h1><b><u>Página museos de Madrid</u></b></h1>
    
{% endblock %}

{% block body %}
    <b>Museos con más comentarios:</b><br>

    {% for museo in museos %}
        <br><li><a href='{{museo.content_url}}'>{{museo.nombre}}</a><br>
        {{museo.clase_via}} {{museo.nombre_via}} 
        {% if museo.numero_via %} {{museo.numero_via}} {% else %} S/N {% endif %}<br>

        <a href='/museos/{{museo.id}}'>Más info</li></a>
    {% endfor %}

{% endblock %}

{% block barra %}
	
	<br><b>USUARIOS REGISTRADOS:</b><br>
    {% for configuracion in configuraciones %}
        <br><li><a href='/usuario/{{configuracion.id}}'> {% if configuracion.nombre_pag %} {{configuracion.nombre_pag}} {% else %} Página de {{configuracion.usuario}} {% endif %}</a>:  {{configuracion.usuario}}
    {% endfor %}
{% endblock %}

{% block barradcha %}
    
    <a class="button" href="/?acc=True">Accesibles</a>/
    <a class="button" href="/">Vista normal</a>

{% endblock %}-->