{% load staticfiles %}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Museos de Madrid</title>
 
    <link rel="stylesheet"  type="text/css"  href="{% static 'style.css' %}" >
</head>
 
<body>
    
    <header id="main-header">
        
        <a id="logo-header" href="#">
            <span class="site-name">MUSEOS DE MADRID</span>
            <span class="site-desc"> Museos / Museos Favoritos </span>
        </a> <!-- / #logo-header -->
 
        <nav>
            <ul>
                <li class="menu"><a href="/">Página principal</a></li>
                <li class="menu"><a href="/museos">Museos</a></li>
                <li class="menu"><a href='/usuario'>Museos favoritos de usuarios registrados</a></li>
                <li class="menu"><a href='/admin'>Página de configuración</a></li>
            </ul>
        </nav><!-- / nav -->
 
    </header><!-- / #main-header -->

    <ul class="sidebar-nav">

       {% if user.is_authenticated %}
            <li>Usuario: {{ user.get_username }}</li>   <!--Sólo se ve si está autenticado--> 
            <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
       {% else %}
            
            <link href="registration/login.html" rel="import" />
            <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
            
       {% endif %} 
    </ul> 

    
    <div id="main-content" class="main-body">
        <div class="head-body">
            
            {% block head %}
                <h1>Página nueva</h1>
            {% endblock %}
        </div>
        <div class="body-body">
            {% block body %}
                
            {% endblock %}
        </div>
    </div>        
 
    
</body>
</html>
