{% extends 'museos/base.html' %}	<!--Hereda de base.html-->

{% block head %}

    <h1><b><u>Página museos de Madrid</u></b></h1>
    
{% endblock %}

{% block body %}
    <b>Museos con más comentarios:</b><br>

    <div id="table_id" class="display">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Nombre y enlace esmadrid</th>
                        <th>Dirección</th>
                        <th>Enlace página museo</th>

                    </tr>
                </thead>
                <tbody>
                    {% for museo in museos %}
                        <tr>
                            <td><a href="{{museo.content_url}}">{{museo.nombre}}</a></td>
                            <td>    {{museo.clase_via}} {{museo.nombre_via}} 
        {% if museo.numero_via %} {{museo.numero_via}} {% else %} S/N {% endif %}</td>
                            <td><a href="/museos/{{museo.id}}">Más info</a></td>
                            <td>{{museo.num_comentarios}}</td>                   
                        </tr>

                    {% endfor %}
                        
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block barra %}
	
	<br><b>USUARIOS REGISTRADOS:</b><br>
    {% for configuracion in configuraciones %}
        <br><li><a href='/usuario/{{configuracion.id}}'> {% if configuracion.nombre_pag %} {{configuracion.nombre_pag}} {% else %} Página de {{configuracion.usuario}} {% endif %}</a>:  {{configuracion.usuario}}
    {% endfor %}
{% endblock %}

{% block barradcha %}
    
    <a class="button" href="/?acc=True">Accesibles/</a>
    <a class="button" href="/">Vista normal</a>

{% endblock %}