{% extends 'museos/base.html' %}	<!--Hereda de base.html-->

{% block head %}

    <h1><b><u>{{museo.nombre}}</u></b></h1>

{% endblock %}

{% block body %}

    <b>Descripción del museo:</b><br>

    <br><li>{{museo.descripcion_entidad}} </li><br>

    <b>Horario del museo:</b><br>

    <br><li>{{museo.horario}} </li><br>

    <b>Transporte:</b><br>

    <br><li>{{museo.transporte}} </li><br>

    <b>Dirección:</b><br>

    <br><li>{{museo.clase_via}} {{museo.nombre_via}} {{museo.numero_via}} </li><br>
    
    <b>Los comentarios de los usuarios registrados son los siguientes:</b><br>

    {% for comentario in comentarios %}
            <br><li>{{comentario.configuracion}} -> {{comentario.comentario}} </li><br>
    {% endfor %}
    <form method="post" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Enviar" />
    </form>

    <br><b><a href='/'>Volver a la página principal</a><br><br><a href='/admin'>Ir a la página de configuración</a></b><br><br>

{% endblock %}