{% extends 'museos/base.html' %}    <!--Hereda de base.html-->

{% if user.is_authenticated %}
    {% block head %}

        <h1><b><u>{{variable_form}}</u></b></h1>

    {% endblock %}
{% endif %}

{% block body %}
    
    

    Los museos favoritos de {{usuario.usuario}} son:<br>

    {% for favorito in favoritos %}
        <br><li><a href='/museos/{{favorito.id}}'> {{favorito.nombre}} </li></a>
    {% endfor %}
    

    <br><b><a href='/'>INICIO</a><br>

    {% if user.is_authenticated %}
        {% if usuario_ppal %}
            <!--ENLACE PARA CAMBIAR LA CONFIGURACIÓN DESDE ADMIN-->
            <a href="/admin/">Añadir o modificar mis páginas de museos</a><br>

            <!--FORMULARIO PARA CAMBIAR NOMBRE PÁG USUARIO-->
            <form method="post" action="">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Enviar" />
            </form>
            
            <!--FORMULARIO PARA CAMBIAR ESTILO CSS PÁG USUARIO-->
            <form method="post" action="">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Enviar" />
            </form>

        {% endif %}

        

    {% else %}

        <br>Usted no está identificado, si quiere modificar su configuración, inicie sesión<br>

    {% endif %}
{% endblock %}