{% extends 'museos/base.html' %}    <!--Hereda de base.html-->
{% load staticfiles %}




{% block head %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    {% if user.is_authenticated %}
        {% if nombre_pag %}
             <h1><b><u>{{configuracion.nombre_pag}}</u></b></h1>   <!--Lo coge del formulario de cambiar nombre-->
        {% else %}
            <h1><b><u>Los museos favoritos de {{usuario.usuario}} son:</u></b></h1><br>
        {% endif %}

    {% else %}    
        <h1><b><u>Los museos favoritos de {{usuario.usuario}} son:</u></b></h1><br>
    {% endif %}

{% endblock %}

{% block opciones %}

    <li id="inicio" class="menu"><a href="/">INICIO</a></li>
    <li id="about" class="menu"><a href="/about">ABOUT</a></li>
    <li id="museos" class="menu"><a href="/museos">TODOS</a></li>
    <li id="admin" class="menu"><a href='/admin'>Página admin</a></li>
    <li id="login" class="menu">
        {% if user.is_authenticated %}
            <div>Usuario: {{ user.get_username }}</div>   <!--Sólo se ve si está autenticado--> 
            <div><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></div>   
        {% else %}
            <div><a href="{% url 'login'%}?next={{request.path}}">Login</a></div>
            
        {% endif %}                                                                                                                                                                        
    </li>    
    
{% endblock %}

{% block barra %}

    <li id="usuxml" class="menu"><a href="/usuario/{{usuario.id}}/xml">VERSIÓN XML</a></li>
                
{% endblock %}

{% block barradcha %}

    {% if user.is_authenticated %}
        {% if usuario_ppal %}

            <!--FORMULARIO PARA CAMBIAR NOMBRE PÁG USUARIO-->
            <b><li>FORMULARIO PARA CAMBIAR NOMBRE PÁG USUARIO</li></b>
            <form method="post" action="/usuario/{{usuario.id}}/cambia_nombre">
                {% csrf_token %}
                {{form_nombre.as_p}}
                <input type="submit" value="Enviar" />
            </form>
            
            <!--FORMULARIO PARA CAMBIAR ESTILO CSS PÁG USUARIO-->
            <b><li>FORMULARIO PARA CAMBIAR ESTILO CSS PÁG USUARIO</li></b>
            <form method="post" action="/usuario/{{usuario.id}}/cambia_estilo">
                {% csrf_token %}
                {{form_estilo.as_p}}
                <input type="submit" value="Enviar" />
            </form>

        {% endif %}
    {% endif %}

    <a class="button" href="/usuario/{{usuario.id}}/?acc=True">Accesibles/</a>
    <a class="button" href="/usuario/{{usuario.id}}/">Vista normal</a>

{% endblock %}

{% block body %}
    
    
    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-museos">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% if favoritos %}
                {% for favorito in favoritos %}
                    <tr>
                        <td><a href="/museos/{{favorito.id}}">{{favorito.museo}}</a></td>
                        <td>    {{favorito.fecha}}</td>                             
                    </tr>

                {% endfor %}
                
            {% else %}
                <tr>
                    <td colspan=2>Este usuario no tiene museos favoritos</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    

    {% if not user.is_authenticated %}

        <br>Usted no está identificado, si quiere modificar su configuración, inicie sesión<br>

    {% endif %}

    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <!-- DataTables JavaScript -->
    <script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables-plugins/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/datatables-responsive/dataTables.responsive.js' %}"></script>

    
<script>
    $(document).ready(function() {
        $('#dataTables-museos').DataTable({
            "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]]
        });
    });
</script>
{% endblock %}



