{% extends 'museos/base.html' %}    <!--Hereda de base.html-->

{% block head %}

    <h1><b><u>Página de {{usuario.usuario}}</u></b></h1>

{% endblock %}

{% block body %}

    Los museos favoritos de {{usuario.usuario}} son:<br>

    {% for favorito in favoritos %}
        <br><li><a href='/museos/{{favorito.id}}'> {{favorito.nombre}} </li></a>
    {% endfor %}
    

    <br><b><a href='/'>Volver a la página principal</a><br>
    {% if user.is_authenticated %}
        {% if usuario_ppal %}
            <a href="/admin/">Añadir o modificar mis páginas de museos</a><br>
        {% endif %}
    {% else %}

        <br>Usted no está identificado, si quiere modificar su configuración, inicie sesión<br>
    {% endif %}
{% endblock %}